@page "/CreatePerson"

<h3> Create Person Component </h3>
<p>@person.Name</p>
<h1>@status</h1>

<EditForm Model="@person" OnValidSubmit="FormSubmitted" OnInvalidSubmit="FormInvalidSubmitted">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <label for="Name">Name: </label>
    <InputText id="name" @bind-Value="person.Name"></InputText>
    <ValidationMessage For="@(()=> person.Name)"/>
    <br />
    <label for="Age">Age: </label>
    <InputNumber id="age" @bind-Value="person.Age"></InputNumber>
    <br />
    <label for="Email">Email: </label>
    <InputText id="email" @bind-Value="person.Email"></InputText>
    <br />
    <input type="submit" value="Save"/>
</EditForm>

@code {

    string status = "Form is not submitted";
    void FormSubmitted() {
        status = "Form is submitted";
    }

    void FormInvalidSubmitted(){
        status = "There are some errors in the form";
    }

    Person person = new Person
    {
        Name = "Ali",
        Age = 4,
        Email = "ali@ali.com"
    };

    public class Person
    {
        [Required]
        [StringLength(10, ErrorMessage = "Name is too long")]
        public string Name { get; set; }

        [Required]
        [Range (18, 80, ErrorMessage = "Age must be between 18 and 80")]
        public int Age { get; set; }

        [Required]
        [EmailAddress]
        public string Email { get; set; }
    }
}
