@page "/databinding"

<h3>Data Binding</h3>

<input type="number" @bind-value="@numberParam" >
<button @onclick="UpdateValue"> Change Value</button>
<p>Variable: @numberParam</p>

@code {
    int numberParam = 10;

    void UpdateValue() {
        numberParam = numberParam + 1;
    }
}