@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<a href="/mpc">My Page Component</a>
<br/>
<a href="/mpc/lost/234"> My Page Component Params</a>