@page "/mpc/{Title}/{Id:int}"
@page "/mpc"

<h3>My Page Componet</h3>
<p style="color:green"> @Title </p>
 <p style="color:orange"> @Id </p>

@code{
    [Parameter]
    public int? Id { get; set; }

    [Parameter]
    public string Title {get;set;}

        protected override void OnInitialized()
        {
            base.OnInitialized();

            Title = Title ?? "Default Title";
            Id = Id ?? 1;
        }
}