@page "/pc"

<h3 style="background-color:pink">Parent Component</h3>
<p>@buttonMessage 3</p>
<button @onclick="OnClick"> Click to use child method </button>
<CascadingValue Value="@MessageParent" Name="message" IsFixed="true">
    <CascadingValue Value="@Age">
        <CascadingValue Value="@Name" Name="name">
            <TheChildComponent Title="Gooseberry falls param passed" OnClickCallback="@GetMessage" @ref="childComponentRef"/>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>

@code {
    public string MessageParent { get; set; } = "I am from parent";

    public int Age {get;set;}

    public string Name {get;set;} = "Tyler Name";

    string buttonMessage = "default message";
    private void GetMessage(string m) {
        buttonMessage = m;
    }

    private TheChildComponent childComponentRef;

    void OnClick() {
        childComponentRef.Show();
    }
}
